---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=notalocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.093 TT 0 0.095"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "notalocation",
            "offset": null
        }
  recorded_at: Mon, 13 Jun 2022 16:51:34 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_api_key>&location=notalocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 16:51:34 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"notalocation"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_api_key>&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-1826747462"}]}]}'
  recorded_at: Mon, 13 Jun 2022 16:51:34 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_api_key>&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1655139073,"sunrise":1655118533,"sunset":1655172238,"temp":97.48,"feels_like":94.96,"pressure":999,"humidity":22,"dew_point":52.27,"uvi":8.25,"clouds":100,"visibility":10000,"wind_speed":20.89,"wind_deg":211,"wind_gust":30.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1655139120,"precipitation":0},{"dt":1655139180,"precipitation":0},{"dt":1655139240,"precipitation":0},{"dt":1655139300,"precipitation":0},{"dt":1655139360,"precipitation":0},{"dt":1655139420,"precipitation":0},{"dt":1655139480,"precipitation":0},{"dt":1655139540,"precipitation":0},{"dt":1655139600,"precipitation":0},{"dt":1655139660,"precipitation":0},{"dt":1655139720,"precipitation":0},{"dt":1655139780,"precipitation":0},{"dt":1655139840,"precipitation":0},{"dt":1655139900,"precipitation":0},{"dt":1655139960,"precipitati[...]
